Library
.bash_history
.ssh
.zcompdump
.zsh-update
.zsh_history
.vimrc
*.
Desktop
Downloads
Documents
Movies
Music
Pictures
Public
source
.gemrc
.gitconfig
.hgignore_global
.viminfo
.Trash
.CFUserTextEncoding
.netrwhist
.vim-fuf-data
.gem
.npm
.cache
.node-gyp
.subversion
Code
dump
