layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    
    tab name="code" focus=true {
        pane split_direction="vertical" {
            pane size="70%" name="editor"
            pane split_direction="horizontal" size="30%" {
                pane size="50%" name="terminal"
                pane size="50%" name="logs"
            }
        }
    }
    
    tab name="git" {
        pane name="git"
    }
    
    tab name="server" {
        pane name="server"
    }
} 